/* general css */

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background: #fff;
    color: #000;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* links */
a {
    text-decoration: none !important;
    color: #999;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #0dcaf0 !important;
}

/* navbar */

.navbar {
    position: relative;
}

.navbar ul li {
    position: relative;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

.navbar ul li a {
    position: relative;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #999;
}

/* banner content */

.banner-section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}




























/* 
a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width .5s;
}

a:hover:before {
    width: 100%;
} */